<div class="container">
  <h3>Log in</h3>
  
  <%= form_tag do %>
    <%= text_field_tag :email %><br>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Submit" %><br>
  <% end %>
</div>  
