<nav>
    <div class="nav-wrapper">
      <a class="brand-logo right">Todo</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="items">Items</a></li>
        <li><a href="tags">Tags</a></li>
      </ul>
    </div>
  </nav>