<nav>
  <div class="nav-wrapper container">
    <a class="brand-logo right hide-on-med-and-down">Todo</a>
    <ul id="nav-mobile" class="left">
      <li><a href="/items">Items</a></li>
      <li><a href="/tags">Tags</a></li>
    </ul>
  </div>
</nav>
